<div id="main" data-role="page">
  <div data-role="header">
    <h1>Get Ready to Write Jasmine Tests</h1>
  </div>
  <div data-role="content">
    Future Links will reside here
  </div>
  <div data-role="footer">
    <p>&copy; <%= Time.now.year %> Jasmine App </p>
  </div>
</div>
